@model IReadOnlyList<ListColorViewModel>
@{
    Layout = "Admin/_AdminLayout";
    ViewData["Title"] = "رنگ ها";
}

<div class="well with-header  with-footer">
    <a asp-action="AddColor" class="btn btn-success">افزودن رنگ جدید</a>
    <br />
    <table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    نام رنگ
                </th>
                <th>
                    رنگ
                </th>
                <th>
                    محصول
                </th>
                <th>
                    تعداد
                </th>
                <th>
                    قیمت
                </th>
                <th>
                    پیش فرض
                </th>
                <th>
                    عملیات
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 1; i <= Model.Count; i++)
            {
                <tr>
                    <td>
                        <span>
                            @i
                        </span>
                    </td>
                    <td>
                        <span>
                            @Model[i-1].Name
                        </span>
                    </td>
                    <td>
                        <span>
                            <div class="hex-show" style="background-color:@Model[i-1].Hex;"></div>
                        </span>
                    </td>
                    <td>
                        <span>
                            <a asp-controller="Admin" asp-action="EditProduct" asp-route-productId="@Model[i-1].ProductId">@Model[i-1].ProductName</a>
                        </span>
                    </td>
                    <td>
                        <span>
                            @Model[i-1].Count
                        </span>
                    </td>
                    <td>
                        <span>
                            @Model[i-1].Price تومان
                        </span>
                    </td>
                    <td>
                        @if (Model[i - 1].IsDefault)
                        {
                            <i class="fa fa-check success" aria-hidden="true"></i>

                        }
                        else
                        {
                            <i class="fa fa-times danger" aria-hidden="true"></i>
                        }
                    </td>
                    <td>
                        <a class="btn btn-danger" onclick="is_delete(@Model[i-1].Id)">
                            <i class="fa fa-times"></i>
                            حذف
                        </a>
                        <a class="btn btn-yellow" asp-controller="Admin" asp-action="EditProduct" asp-route-productId="@Model[i-1].Id">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            ویرایش
                        </a>

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section breadcrumb {
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="Index">خانه</a>
            </li>
            <li class="active">رنگ ها</li>
        </ul>
    </div>
}

@section pageHeader {
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                رنگ ها
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
}

@section Scripts {
    <script src="~/js/site.js"></script>
}