@model List<TicketViewModel>
@{
    Layout = "Admin/_AdminLayout";
    ViewData["Title"] = "تیکت ها";
}

<div class="well with-header  with-footer">
    <br />
    <table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    زمان ایجاد
                </th>
                <th>
                    بخش
                </th>
                <th>
                    موضوع
                </th>
                <th>
                    وضعیت
                </th>
                <th>
                    آخرین بروزرسانی
                </th>
                <th>
                    عملیات
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 0;
                foreach (var item in Model)
                {
                    counter += 1;
                    <tr>
                        <td>@counter</td>
                        <td>@item.CreatedDate.ConvertToShamsi()</td>
                        <td>@item.Section</td>
                        <td>@item.Subject</td>
                        @switch (item.Status)
                        {
                            case "در حال بررسی":
                                <td class="bg-warning">@item.Status</td>
                                break;
                            case "بسته":
                                <td class="bg-danger">@item.Status</td>
                                break;
                            case "پاسخ داده شده":
                                <td class="bg-success">@item.Status</td>
                                break;
                            default:
                                <td class="bg-warning">@item.Status</td>
                                break;
                        }
                        <td>@item.LastUpdatedTime.ConvertToShamsi()</td>
                        <td>
                            @if (item.Status != "بسته")
                            {
                                <a class="btn btn-danger" asp-controller="Tickets" asp-area="Admin" asp-action="CloseTicket" asp-route-Id="@item.Id" onclick="is_delete(this)">
                                    <i class="fa fa-times"></i>
                                    بستن تیکت
                                </a>
                            }
                            <a class="btn btn-blue" asp-controller="Tickets" asp-area="Admin" asp-action="AddTicketMessages" asp-route-Id="@item.Id">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                مشاهده
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section breadcrumb {
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="Index">خانه</a>
            </li>
            <li class="active">تیکت ها</li>
        </ul>
    </div>
}

@section pageHeader {
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                تیکت ها
            </h1>
        </div>
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/site.js"></script>
}